<h1>Edit Customer</h1>

<div class="container">
  <div class="form-container">
    <div class="form-container">
      <div>
        <label>Customer Id:</label>
        <input
          [(ngModel)]="customer.customerId"
          (keydown.enter)="loadCustomerById()"
          (input)="checkForm()"
        />
      </div>
      <button
        (click)="loadCustomerById()"
        [ngClass]="{ success: searchSuccess }"
        [ngClass]="{ error: searchError }"
      >
        Search
      </button>
      <p *ngIf="searchSuccess">Customer Found!</p>
      <p *ngIf="searchError">Failed to find customer!</p>
    </div>
    <div>
      <label>First Name:</label>
      <input
        [(ngModel)]="customer.firstName"
        (input)="checkForm()"
        (keydown.enter)="submitForm()"
      />
    </div>
    <div>
      <label>Last Name:</label>
      <input
        [(ngModel)]="customer.lastName"
        (input)="checkForm()"
        (keydown.enter)="submitForm()"
      />
    </div>
    <div>
      <label>Email:</label>
      <input
        [(ngModel)]="customer.email"
        (input)="checkForm()"
        (keydown.enter)="submitForm()"
      />
    </div>
    <div>
      <label>Phone:</label>
      <input
        [(ngModel)]="customer.phone"
        (input)="checkForm()"
        (keydown.enter)="submitForm()"
      />
    </div>
    <button
      (click)="submitForm()"
      [ngClass]="{ success: updateSuccess }"
      [ngClass]="{ error: updateError }"
    >
      Save Edits
    </button>
  </div>
  <div class="red-header" style="flex: 1 1 0%">
    <ag-grid-angular
      style="height: 375px; width: 100%"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="tableFill"
      [theme]="theme2"
    ></ag-grid-angular>
  </div>
</div>
