<header class="header">
  <nav class="nav">
    <span class="logo font" [routerLink]="['/home']">Home</span>
    <div class="nav-links">
      <a class="nav-item font" [routerLink]="['/customer']">Search Customer</a>
      <a class="nav-item font" [routerLink]="['/editCustomer']"
        >Edit Customer</a
      >
      <a class="nav-item font" [routerLink]="['/addCustomer']">Add Customer</a>
      <a class="nav-item font" [routerLink]="['/deleteCustomer']"
        >Delete Customer</a
      >
    </div>
  </nav>
</header>
