<!-- <div>
  <h1>Customers:</h1>
</div> -->
      <!-- <div style="flex: 1 1 0%; display: flex; gap: 16px">
        <div style="flex: 1 1 0%" class="green-header">
          put stuff here
        </div> -->
        <div style="flex: 1 1 0%" class="red-header">
          <ag-grid-angular
            style="height: 500px;"
            [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [theme]="theme2"
          />
        </div>
      <!-- </div> -->
